* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background: url("Images/backGround2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px #58d37d;
}
.quote-text {
  font-size: 2.8rem;
}
.quote-author {
  font-family: "Times New Roman", Times, serif;
  margin-top: 1rem;
  color: rgb(220, 150, 20);
}
.long-quote {
  font-size: 2rem;
}
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
#next-quote-btn {
  font-size: 0.8em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: -0.6rem;
  cursor: pointer;
  background-color: rgb(112, 177, 32);
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 5px;
}
#next-quote-btn:hover {
  background-color: darkgreen;
  color: white;
}
#twitter-logo {
  width: 30px;
  height: 30px;
  margin-left: -0.6rem;
  border-radius: 30%;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 15px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
}
