body {
  text-align: center;
  background-image: linear-gradient(to bottom, #d8b749, #333333);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("Images/backGround2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#title {
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

#quote-container {
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  height: 175px;
  min-height: 150px;
  margin: 10% auto;
  padding: 2%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  box-shadow: 0px 0px 10px #58d37d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

#quote {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

#quote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.4em;
}

#quote:after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 10px;
  vertical-align: -0.4em;
}

#quote span {
  display: block;
  font-size: 0.8em;
  text-align: right;
}

#next-quote-btn {
  padding: 5px 10px;
  font-size: 0.8em;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.2s ease-in-out;
  background-color: rgb(112, 177, 32);
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 4px;
  transform: translateY(-5%);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#next-quote-btn:active {
  transform: scale(0.95);
}
#twitter-logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  cursor: pointer;
}
